name: controle_financeiro
description: A new Flutter project for Financial Control.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.24.2
  firebase_auth: ^4.16.0
  cloud_firestore: ^4.14.0
  provider: ^6.1.1
  intl: ^0.19.0
  fl_chart: ^0.66.0
  shared_preferences: ^2.2.2
  google_fonts: ^6.1.0
  font_awesome_flutter: ^10.6.0
  uuid: ^4.3.3
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
